<li>
    <a href="@Url.Action("Dashboard", "Home")">
        <i class="fa fa-bars fa-fw"></i> Dashboard
    </a>
</li>
<li>
    <a href="search_clients.php">
        <i class="fa fa-users fa-fw"></i> Search Clients
    </a>
</li>
<li>
    <a href="book_search.php">
        <i class="fa fa-book fa-fw"></i> Search Books
    </a>
</li>
<li>
    <a href="check-in.php">
        <i class="fa fa-check-square-o fa-fw"></i> Check-In
    </a>
</li>
<li>
    <a href="add_item">
        <i class="fa fa-plus fa-fw"></i> Add Item
    </a>
</li>
<li>
    <a href="#">
        <i class="fa fa-minus fa-fw"></i> Remove Item
    </a>
</li>
<li>
    <a href="index.php">
        <i class="fa fa-sign-out fa-fw"></i> Logout
    </a>
</li>
